{{#section "head"}}
  <title>Product List</title>
{{/section}}

<main>
  <div class="heading-align-center">
    <h1>Gaming Laptops</h1>
  </div>
  <div class="container">
    <div class="row">

      <nav id="sidebar" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <ul class="list-unstyled components">
          <li>
            <a class="nav-link active" href="#1">Mytrix Nitro 5</a>
          </li>
          <li>
            <a class="nav-link active" href="#2">Acer Predator Helios</a>
          </li>
          <li>
            <a class="nav-link active" href="#3">HP Pavilion Gaming 15-Inch</a>
          </li>
          <li>
            <a class="nav-link active" href="#4">ASUS ROG Strix G15 (2021)</a>
          </li>
          <li>
            <a class="nav-link active" href="#5">OMEN 15 Gaming Laptop</a>
          </li>
          <li>
            <a class="nav-link active" href="#6">MSI GF65 Thin</a>
          </li>
          <li>
            <a class="nav-link active" href="#7">Dell Flagship G5 15</a>
          </li>
          <li>
            <a class="nav-link active" href="#8">2021 Newest XPG Xenia 14</a>
          </li>
          <li>
            <a class="nav-link active" href="#9">Mytrix TUF Gaming F17</a>
          </li>
          <li>
            <a class="nav-link active" href="#10">Alienware m15 R4</a>
          </li>
        </ul>
      </nav>

      <div class="row col-xs-12 col-sm-8 col-md-9 col-lg-10">
        {{#each productList}}
          <div id={{id}} class="card-margin col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <img
                class="card-img-top card-image"
                src="/public/images/image{{id}}.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h2 class="card-title">{{name}}</h2>
                <p class="card-text">{{subDesc}}</p>
                <a
                  href="#modal{{id}}"
                  data-toggle="modal"
                  class="btn btn-primary"
                >Overview</a>
              </div>
            </div>
          </div>

          <div class="modal" id="modal{{id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title">{{name}}</h2>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>{{description}}</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                  >Close</button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>